* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: 'Noto Sans CJK SC';
    font-size: 13px;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0.5);
    color: #D1CBBF;
    transition-property: background-color;
}

#workspaces button {
    padding: 0 2px;
    color: #D1CBBF;
}

#pulseaudio,
#network,
#backlight,
#battery,
#tray,
#clock {
    padding: 0 7px;
    color: #D1CBBF;
}